.winner_cell {
    background-image: linear-gradient(to right , lightgreen, lightgreen);;
}

.rank_c1 {
    background-color: lightgreen;
}

.rank_c2 {
    background-color: #eeeb90;
}

.rank_c3 {
    background-color: #ffb16f;
}

.rank_c4 {
    background-color: #ff9494;
}

.font_weight_bold {
    font-weight: bold;
}